*{
	margin:0;
	padding:0;
}
body,html{
	width:100%;
	height:100%;
	color:white;
}
li{
	list-style:none;
}
.box{
	width:600px;
	height:650px;
	margin:0 auto;
}
.boxLeft{
	width:600px;
	height:650px;
	float:left;
}
.videoBox{
	width:600px;
	height:auto;
	position: relative;	
}
.headtitle{
	height:80px;
	width:100%;
	line-height:80px;
	text-indent:20px;
	position: absolute;
	left:0px;
	top:0px;
	display:none;
}
.progressBar{
	width:500px;
	height:10px;
	background: white;
	position: absolute;
	left:50px;
	bottom:80px;
	border-radius:5px;
	display:none;
}
.barWid{
	width:0px;
	height:10px;
	position: absolute;
	left:0px;
	top:0px;
	border-radius:5px;
	background: indianred;
}
.barCircle{
	width:18px;
	height:18px;
	background: indianred;
	border-radius: 50%;
	position: absolute;
	top:-4px;
	right:-4px;
	cursor: pointer;
}
.clickBtns{
	width:100%;
	height:30px;
	position: absolute;
	left:0px;
	bottom: 30px;
	overflow: hidden;
	display:none;
}
.clis{
	width:180px;
	height:30px;
	float:left;
}
.clis div{
	width:60px;
	height:30px;
	text-align: center;
	line-height:30px;
	float:left;
}
.clis div i{
	cursor: pointer;
}
.voice{
	width:200px;
	height:30px;
	float:left;
}
.voice .volleft{
	width:30px;
	height:30px;
	text-align: center;
	line-height:30px;
	float:left;
	margin-left:20px;
}
.voice .volBar{
	width:100px;
	height:6px;
	float:left;
	margin-top:12px;
	background: white;
	border-radius:3px;
	position: relative;
}
.volBar .volWid{
	width:0px;
	height:6px;
	position: absolute;
	left:0px;
	top:0px;
	background: indianred;
	border-radius: 3px;
}
.volWid .volCircle{
	width:10px;
	height:10px;
	border-radius: 50%;
	background: indianred;
	position: absolute;
	right:-2px;
	top:-2px;
	cursor:pointer;
}
.videotime{
	height:30px;
	line-height:30px;
	float:left;
}
